
.icon-icons_settings:before { content: '\e800'; } /* '' */
.icon-icons_shipping:before { content: '\e801'; } /* '' */
.icon-icons_cart:before { content: '\e802'; } /* '' */
.icon-icons_catalogue:before { content: '\e803'; } /* '' */
.icon-icons_contacts:before { content: '\e804'; } /* '' */
.icon-icons_download:before { content: '\e805'; } /* '' */
.icon-icons_drop:before { content: '\e806'; } /* '' */
.icon-icons_exit:before { content: '\e807'; } /* '' */
.icon-icons_fb:before { content: '\e808'; } /* '' */
.icon-icons_g+:before { content: '\e809'; } /* '' */
.icon-icons_home:before { content: '\e80a'; } /* '' */
.icon-icons_idea:before { content: '\e80b'; } /* '' */
.icon-icons_law:before { content: '\e80c'; } /* '' */
.icon-icons_menu:before { content: '\e80d'; } /* '' */
.icon-icons_orders:before { content: '\e80e'; } /* '' */
.icon-icons_password:before { content: '\e80f'; } /* '' */
.icon-icons_recall:before { content: '\e810'; } /* '' */
.icon-icons_sale:before { content: '\e811'; } /* '' */